<mat-form-field [hideRequiredMarker]="isCampoOpicional" [style.width.%]="100" floatLabel="auto">
  <mat-label for="idInput{{complementoId}}">{{label}}</mat-label>
  <input #input matInput id="idInput{{complementoId}}" [formControl]="control" autocomplete="off" [type]="tipo"
    [placeholder]="placeHolder" [readonly]="somenteLeitura" [required]="isCampoObrigatorio" [mask]="mascara"
    [dropSpecialCharacters]="true">
  <button mat-button matSuffix mat-icon-button aria-label="Limpar" (click)="limpar()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="campoInvalido()">{{msgErro}}</mat-error>
</mat-form-field>
