<mat-sidenav-container class="sidenav-container" hasBackdrop="true">
  <mat-sidenav #drawer class="sidenav" mode="over" fixedInViewport="true">
    <mat-toolbar (click)="drawer.close()">Menu</mat-toolbar>
    <mat-nav-list class="col-12">
      <a mat-list-item routerLink="/cliente" (click)="drawer.close()">Cliente</a>
      <a mat-list-item routerLink="/produto" (click)="drawer.close()">Produto</a>
      <a mat-list-item routerLink="/venda" (click)="drawer.close()">Realizar Pedido</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/home"><span>Test WKTec</span></a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
