<div class="animate__animated animate__fadeIn container">
  <form [formGroup]="form">
    <div class="row">
      <app-radio id="tipoPessoa" formControlName="tipoPessoa" [control]="tipoPessoaControl" [listaOpcao]="listaOpcao"
        (selecionarOpcao)="selecionarOpcao($event)"></app-radio>
      <div class="col-12 col-xl-3">
        <app-input [label]="label" formControlName="documento" [control]="documentoControl" [placeHolder]="label"
          [mascara]="mascara" [msgErro]="msgErro"></app-input>
      </div>
      <div class="col-auto">
        <app-button nomeBotao="Consultar" [bloquear]="form.invalid" (eventoClick)="consultarCliente()"></app-button>
      </div>
      <div class="col-auto">
        <app-button nomeBotao="Cadastrar" iconeBotao="arrow_forward" [bloquear]="form.invalid"
          (eventoClick)="redirecionarParaCadastro()"></app-button>
      </div>
    </div>
  </form>

  <div class="row mt-3 mb-3">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
            <td mat-cell *matCellDef="let element"> {{formatarDocumento(element.documento)}} </td>
          </ng-container>

          <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef> Endereço </th>
            <td mat-cell *matCellDef="let element; index as indice"> {{recuperarEnderecoCompleto(indice)}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="dataNascimento">
            <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
            <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
          </ng-container>

          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="excluirCliente(element.documento)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
