<div class="animate__animated animate__fadeIn">
  <form [formGroup]="form" class="container">
    <div class="row">
      <app-radio id="tipoPessoa" formControlName="tipoPessoa" [control]="tipoPessoaControl" [listaOpcao]="listaOpcao"
        (selecionarOpcao)="selecionarOpcao($event)"></app-radio>
      <div class="col-12 col-xl-3">
        <app-input [label]="label" formControlName="documento" [control]="documentoControl" [placeHolder]="label"
          [mascara]="mascara" [msgErro]="msgErro"></app-input>
      </div>
      <div class="col-auto">
        <app-button nomeBotao="Consultar" [bloquear]="form.invalid" (eventoClick)="consultar()"></app-button>
      </div>
    </div>
  </form>
</div>
